In [1]:
import numpy as n
import pandas as p
import matplotlib.pyplot as m
import seaborn as s
%matplotlib inline

In [2]:
from sklearn.model_selection import GridSearchCV
#from sklearn.metrics import jaccard_similarity_score, confusion_matrix, classification_report, accuracy_score, log_loss

In [5]:
s.set_style("darkgrid")
m.rcParams['font.size'] = 14
m.rcParams['figure.figsize'] = (9, 5)
m.rcParams['figure.facecolor'] = '#00000000'

In [8]:
import pandas as pd
from IPython.display import FileLink


# Replace 'your_file.csv' with the actual file path and specify the delimiter
file_path = 'Train.csv'
df = pd.read_csv(file_path, sep=';')
df.head()

,EmployeeID,Target,Age,AvgDailyHours,Department,Education,EducationField,Gender,HasFlexibleTimings,IsIndividualContributor,...,RelationshipSatisfaction,RemoteWorkSatistfaction,SelfMotivationLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,WorkLoadLevel,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,100001,0,36.0,6.45,Sales,5,Technical Degree,Male,No,Yes,...,1,Medium,3,8.0,2,2,Low,8.0,1.0,8.0
1,100002,0,24.0,8.48,Sales,5,Technical Degree,Male,No,Yes,...,1,Very High,2,1.0,5,2,High,0.0,0.0,0.0
2,100003,0,45.0,6.93,Research & Development,2,Technical Degree,Female,No,Yes,...,4,High,1,17.0,6,4,Low,17.0,4.0,10.0
3,100004,1,29.0,7.10,Sales,4,Medical,Male,No,No,...,4,Medium,2,2.0,0,2,NaN,1.0,1.0,1.0
4,100005,0,30.0,7.30,Human Resources,3,Life Sciences,Female,No,Yes,...,1,Very High,4,9.0,6,1,Medium,3.0,3.0,0.0

In [1]:
from IPython.display import FileLink

# Provide the path to the saved CSV file
file_link = FileLink('Train.csv')

# Display the download link
file_link

C:\Users\vega ramesh\Desktop\project today\employee\Train.csv